%p#notice= notice

%p
  %b First name:
  = @dependent.first_name
%p
  %b Last name:
  = @dependent.last_name
%p
  %b Date of birth:
  = @dependent.date_of_birth

= link_to 'Edit', edit_dependent_path(@dependent)
\|
= link_to 'Back', dependents_path
