= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  .row
    .large-8.columns
      %h2 Sign in
      %div
        = f.label :email
        %br/
        = f.email_field :email, :autofocus => true
      %div
        = f.label :password
        %br/
        = f.password_field :password
      - if devise_mapping.rememberable?
        %div
          = f.check_box :remember_me
          = f.label :remember_me
      %div
        = f.submit "Sign in", class: 'button'
        = link_to "Cancel", :back, class: 'button'
      = render "devise/shared/links"
