!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Medicine Reminder"
    = stylesheet_link_tag    "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .row
  .large-3.columns
    %h1
      Medicine Reminder

= render 'shared/header'
/ First Band (Slider)
.row
  .large-12.columns

/ Three-up Content Blocks
.row
  = yield

= render 'shared/footer'
